/* New Browser */
html.svg #svg-logo {
	width: 15%;
}

html.no-svg #svg-logo {
	display: none;
}

/* Older Browsers */
html.svg #png-logo {
	display: none;
}

html.no-svg #png-logo {
	background: red;
}
